- unless @user
	%a{:href => "/users/new"} Sign up
	%a{:href => "/login"} Sign in
- if @user
	%a{:href => "/logout"} Sign out
	%a{:href => "/new"} Post cheet

/ %ul
/ 	= @post_bodies.each do |post|
/ 		%li = post

