- if !@user
	%link{:rel => "stylesheet", :href => "/css/fadein.css"}
	%h1
		%center A little service for people with something to say.
%br
%ul
	- @posts_array.each do |post|
		%ul.postcontainer
			/ %li.created_at=post.created_at
			%li.user=post.user.username
			%li=post.body