!!!
%html
	%head
		%title Chitr
		%link{:rel => "stylesheet", :href => "/css/bootstrap.css"}
		%link{:rel => "stylesheet", :href => "/css/bootstrap-theme.css"}
		%link{:rel => "stylesheet", :href => "/css/css.css"}
		%link{:href => 'http://fonts.googleapis.com/css?family=Roboto:400italic,700italic,300,700,300italic,400', :rel => 'stylesheet', :type => 'text/css'}
		%meta{:name => "viewport", :content => "width=device-width", :"initial-scale" => "1"}
	%body
		.navbar.navbar-default.navbar-fixed-top{:role => "navigation"}
			.container
				.navbar-header
					/ %button.navbar-toggle.collapsed{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
					/ 	%span.sr-only Toggle navigation
					/ 	%span.icon-bar
					/ 	%span.icon-bar
					/ 	%span.icon-bar
					%a.navbar-brand{:href => "/"} 
						%strong Chitr
				/ .navbar-collapse.collapse
				%ul
					%ul.nav.navbar-nav.navbar-right
						- unless @user
							%li
								%a{:href => "/login"} Sign in
							%li
								%a{:href => "/users/new"} Sign up
						- if @user
							%li
								%a{:href => "/new"} Post cheet
							%li
								%a{:href => "/logout"} Sign out
							%p{:class => "navbar-text navbar-right"} Signed in as #{@user.username}
		%br/
		%br/
		%br/
		%br/
		%br/
		%br/
		%br/
		%br/
		.col-xs-2
		.col-xs-8
			-if flash[:error]
				.alert.alert-warning
					=flash[:error]
			-if flash[:notice]
				.alert.alert-info
					=flash[:notice]
			%center
				=yield
			%br/
			%br/
			%p
				%a{:href => "http://www.henrystanley.com"}
					%center Henry loves you. Really.
			%br/
		.col-xs-2
		%script{:src => "/js/bootstrap.min.js"}
		%script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"}