%p Share a thought.
%form{method: "post", action: "/new"}
	%textarea{name: "New Cheet", cols:"30", rows:"5"}
	%input{:type => "submit", :label => "Submit", :name => "Submit", :id => "submit", :class => "button"}