%form.form-horizontal{:action => "/users/new", :method => "POST"}
	%fieldset
		%legend Sign Up to Chitr
		.control-group
			%input{:id => "textinput", :type => "text", :name =>"First Name", :placeholder => "first name"}
		.control-group
			%input{:type => "text", :name =>"Last Name", :placeholder => "last name"}
		.control-group
			%input{:type => "text", :name =>"Email", :placeholder => "email"}
		.control-group
			%input{:type => "text", :name =>"Username", :placeholder => "username"}
		.control-group
			%input{:type => "password", :name => "Password", :placeholder => "password"}
		.control-group
			%input{:type => "password", :name => "Password Confirmation", :placeholder => "confirm password"}
		.control-group
			%button.btn.btn-default{:type => "submit", :label => "Submit", :name => "Submit", :id => "submit", :class => "button"}Submit